<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900708350420-v1kpo5ptjaaksgphnkhocajc27akf2ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900708350420-v1kpo5ptjaaksgphnkhocajc27akf2ht</string>
	<key>API_KEY</key>
	<string>AIzaSyBRt5tyMta6pTJz9wDP7C9Kri6cquVfeL0</string>
	<key>GCM_SENDER_ID</key>
	<string>900708350420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ARObjectDetection</string>
	<key>PROJECT_ID</key>
	<string>ar-objectdetection</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-objectdetection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900708350420:ios:8780a51c0ca37437e23e41</string>
	<key>DATABASE_URL</key>
	<string>https://ar-objectdetection.firebaseio.com</string>
</dict>
</plist>